GROQ_API_KEY=YOUR_NEW_GROQ_API_KEY
GROQ_MODEL=groq/compound

HOST=0.0.0.0
PORT=5001
FLASK_ENV=development

NODE_SERVER_URL=http://localhost:5000/api/inspections/result

ENABLE_MKLDNN=True
CPU_THREADS=6